<h2><%= @beer_club.name %></h2>

<p>Founded in <%= @beer_club.founded %></p>

<p>Based in <%= @beer_club.city %></p>

<div>
  <strong>Members</strong>
  <% if @beer_club.users %>
    <ul class="list-group">
      <% @beer_club.users.each do |user| %>
        <%= link_to user.username, user, class: 'list-group-item list-group-item-action text-primary' %>
      <% end %>
    </ul>
  <% else %>
    <p>No members yet</p>
  <% end %>
</div>

<% if current_user %>
  <div class="my-2">
    <% if current_user.memberships.exists?(beer_club: @beer_club) %>
      <%= form_with(model: @membership, local: true, method: :delete) do |form| %>
        <%= form.hidden_field :beer_club_id %>
        <%= form.submit class: 'btn btn-danger', value: 'End the membership' %>
        <%= %>
      <% end %>
    <% else %>
      <%= form_with(model: @membership, local: true) do |form| %>
        <%= form.hidden_field :beer_club_id %> 
        <%= form.submit class: 'btn btn-primary', value: 'Join the club' %>
      <% end %>
    <% end %>
  </div>

  <%= edit_and_destroy_buttons(@beer_club) %>
<% end %>