<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if user.new_record? %>
    <div class="form-group row">
      <%= form.label :username, class: 'col-md-4 col-form-label' %>
      <div class="col-md">
        <%= form.text_field :username, class: 'form-control' %>
      </div>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :password, class: 'col-md-4 col-form-label' %>
    <div class="col-md">
      <%= form.password_field :password, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :password_confirmation, class: 'col-md-4 col-form-label' %>
    <div class="col-md">
      <%= form.password_field :password_confirmation, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
