<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<% if @user.beer_clubs.empty? %>
  <p>Is not a member of any beer club.</p>
<% else %>
  <strong>Member of:</strong>
  <ul>
    <% @user.beer_clubs.each do |club| %>
      <li><%= link_to club.name, club %></li>
    <% end%>
  </ul>
<% end %>

<% if @user.ratings.empty? %>
  <p>Has not made any ratings yet.</p>
<% else %>
  <p><%= "Has made #{pluralize(@user.ratings.count, 'rating')}, average #{@user.average_rating}" %><p>
  <p>Favorite beer style is <%= @user.favorite_style.name %></p>
  <p>Favorite brewery is <%= @user.favorite_brewery.name %></p>
  <strong>Ratings:</strong>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
          <%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end%>
  </ul>
<% end %>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>