<p>
  <strong>Username:</strong>
  <%= @user.username %>
  <% if @user.admin  %>
    <span class="badge badge-info">Admin</span>
  <% end %>
  <% if @user.closed %>
    <span class="badge badge-danger">Closed</span>
  <% end %>
</p>

<% if current_user&.admin && current_user != @user %>
  <% if @user.closed %>
    <%= link_to 'Open account', toggle_closed_user_path(@user.id), method: :post, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to 'Close account', toggle_closed_user_path(@user.id), method: :post, class: 'btn btn-danger' %>
  <% end %>
<% end %>

<% if @user.beer_clubs.empty? %>
  <p>Is not a member of any beer club.</p>
<% else %>
  <p><strong>Member of:</strong></p>
  <ul>
    <% @user.beer_clubs.each do |club| %>
      <li><%= link_to club.name, club %></li>
    <% end%>
  </ul>
<% end %>

<% if @user.ratings.empty? %>
  <p>Has not made any ratings yet.</p>
<% else %>
  <p><%= "Has made #{pluralize(@user.ratings.count, 'rating')}, average #{round_num @user.average_rating}" %><p>
  <p>Favorite beer style is <%= link_to @user.favorite_style.name, @user.favorite_style %></p>
  <p>Favorite brewery is <%= link_to @user.favorite_brewery.name, @user.favorite_brewery %></p>
  <strong>Ratings:</strong>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
          <%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end%>
  </ul>
<% end %>

<% if @user == current_user %>
  <%= edit_and_destroy_buttons(@user) %>
<% end %>