<h1><%= @style.name %></h1>

<p>Description: <%= @style.description %></p>

<% if @style.beers.empty? %>
  <strong>No beers of this style listed</strong>
<% else %>
  <strong>Beers</strong>
  <ul>
    <% @style.beers.each do |beer| %>
      <li><%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %></li>
    <% end %>
  </ul>
<% end %>

<% if current_user %>
  <%= link_to 'Edit', edit_style_path(@style), class: 'btn btn-primary' %>
  <%= link_to 'Destroy', @style, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>