<h2><%= @brewery.name %></h2>

<p style="font-style: italic">Established in <%= @brewery.year %></p>

<p>Number of beers: <%= @brewery.beers.count %></p>

<p>
 <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name, beer_path(beer.id) %>
 <% end %>
</p>

<p>
  <% unless @brewery.ratings.empty? %>
    <%= "Has #{pluralize(@brewery.ratings.count, 'rating')}, average #{@brewery.average_rating}" %>
  <% end %>
</p>

<% if current_user %>
  <%= link_to 'Edit', edit_brewery_path(@brewery), class: 'btn btn-primary' %>
  <%= link_to 'Destroy', @brewery, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>